<script type="text/javascript">
  _bizo_data_partner_id = "7993";
</script>
<script type="text/javascript">
  (function() {
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";
    b.async = true;
    b.src = (window.location.protocol === "https:" ? "https://sjs" : "http://js") + ".bizographics.com/insight.min.js";
    s.parentNode.insertBefore(b, s);
  })();
</script>
<noscript>
  <img height="1" width="1" alt="" style="display:none;" src="//www.bizographics.com/collect/?pid=7993&fmt=gif" />
</noscript>
<!-- <footer class="footer rounded-6">
<nav class="footer-links">
{% if portal.tabs.size > 0 %}
{% for tab in portal.tabs %}
<a href="{{tab.url}}" class="{% if tab.tab_type == current_tab %}active{% endif %}">{{ tab.label }}</a>
{% endfor %}
{% endif %}
{{ portal | link_to_privacy_policy }}
{{ portal | link_to_cookie_law }}
</nav>
</footer>
{{ portal | portal_copyright }}

!-->
<footer>
  <div class="bux-footer">
    <div class="page">
      <p>All BUX users start with a funBUX account. funBUX is a virtual currency, so users are not at risk of losing money. However, if a user becomes a real money investor, referred to as a seriousBUX user, the following risk warning applies. Risk Warning: CFDs are high risk investments. Your capital is at risk. CFDs are not suitable for all investors and you should ensure that you understand the risks involved and, if necessary, obtain independent financial advice to ensure that these products fit your investment objectives. Tax law can be changed or may differ if you pay tax in a jurisdiction other than the UK. BUX is a trading name of ayondo markets Limited. ayondo markets Limited is a company registered in England and Wales under register number 03148972.</p>
      <p>Ayondo markets Limited is authorised and regulated by Financial Conduct Authority, FCA Register number 184333. Disclaimer: The information on this site is not directed at residents of the United States and is not intended for distribution to, or use by, any person in any country or jurisdiction where such distribution or use would be contrary to local law or regulation. Apple, the Apple logo, iPod, iPad, iPod touch and iTunes are trademarks of Apple Inc., registered in the US and other countries. iPhone is a trademark of Apple Inc. App Store is a service mark of Apple Inc.</p>
    </div>
    <div id="bux-copy">
      <div class="social-links">
        <ul>
          <a href="https://www.facebook.com/BUXsocial" target="blank"><li class="fb"></li></a>
          <a href="https://www.twitter.com/BUX" target="blank"><li class="tw"></li></a>
          <a href="https://plus.google.com/+Getbux" target="blank"><li class="gp"></li></a>
          <a href="https://www.youtube.com/channel/UC3sPSRgBbIzXe-IjSdhZgwA" target="blank"><li class="yt"></li></a>
          <a href="https://vimeo.com/buxvideo" target="blank"><li class="vm"></li></a>
          <a href="https://www.linkedin.com/company/3320903" target="blank"><li class="ln"></li></a>
          <a href="https://pinterest.com/getbux" target="blank"><li class="pi"></li></a>
          <a href="https://instagram.com/bux4ever/" target="blank"><li class="ins"></li></a>
          <a href="https://itunes.apple.com/app/id892809783?mt=8&uo=4&at=10lHoP" target="blank"><li class="ap"></li></a>
          <a href="https://app.adjust.io/exjfck_96lrrk?adgroup=UK-homepage-banner&fallback=https://play.google.com/store/apps/details?id=com.getbux.android&hl=en" target="blank"><li class="an"></li></a>
          <a href="mailto:info@getbux.com" target="blank"><li class="mail"></li></a>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li><a href="http://getbux.com/press/">Press</a></li>
          <li><a href="http://bux.ayondomarkets.com/en/legal-documents">Legal</a></li>
          <li><a href="http://getbux.com/jobs/">Jobs</a></li>
        </ul>
      </div>
      <div class="copy">© BUX 2014-2018
      </div>
    </div>
    </div>  
    <div id="toTop" style="display: block;">&nbsp;</div>
  </footer>
  <script>
    jQuery(document).ready(function(){
      var scrollTrigger = 200, // px
          backToTop = function () {
            var scrollTop = jQuery(window).scrollTop();
            if (scrollTop > scrollTrigger) {
              jQuery('#toTop').addClass('show');
            } else {
              jQuery('#toTop').removeClass('show');
            }
          };
      backToTop();
      jQuery(window).on('scroll', function () {
        backToTop();
      });
      jQuery('#toTop').on('click', function (e) {
        e.preventDefault();
        jQuery('html,body').animate({
          scrollTop: 0
        }, 700);
      });
    });
  </script>