<header class="banner">
  <div class="banner-wrapper">
    <div class="banner-title">
      {{ portal | logo }}
      <h1 class="ellipsis heading">{{portal.name|h}}</h1>
    </div>
    <div class="mainmenus">
      {% if portal.tabs.size > 0 %}
      <a data-toggle-dom="#header-tabs" href="#" data-animated="true" class="mobile-icon-nav-menu show-in-mobile"></a>
      <div class="nav-link" id="header-tabs">
        {% for tab in portal.tabs %}
        {% if tab.url %}
        <a href="{{tab.url}}" class="{% if tab.tab_type == portal.current_tab %}active{% endif %}">{{ tab.label }}</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      
      </div>
      <nav class="banner-nav">
        {{ portal | welcome_navigation }}
      </nav> 
      <div class="pull-right" id="bux-multilang">
        {{ portal | language_list }}
      </div>
  </div>
</header>

<!-- 
<nav class="page-tabs" >
{% if portal.tabs.size > 0 %}
<a data-toggle-dom="#header-tabs" href="#" data-animated="true" class="mobile-icon-nav-menu show-in-mobile"></a>
<div class="nav-link" id="header-tabs">
{% for tab in portal.tabs %}
{% if tab.url %}
<a href="{{tab.url}}" class="{% if tab.tab_type == portal.current_tab %}active{% endif %}">{{ tab.label }}</a>
{% endif %}
{% endfor %}
</div>
{% endif %}
</nav>!-->
