<div class="fullwidth bannerheader">
  <div class="page">
    {{ header }}
  </div>
</div>  
<div id="header-img">
  <!-- <h2>Support Centre</h2> -->
  <h2>
    {% if portal.current_language.code == "en" %}
    Support Center
    {% elsif portal.current_language.code == "nl" %}
    Support Centrum
    {% elsif portal.current_language.code == "fr" %}
    Centre de Support
    {% elsif portal.current_language.code == "de" %}
    Support-Center
    {% elsif portal.current_language.code == "it" %}
    Centro Assistenza
    {% elsif portal.current_language.code == "es" %}
    Centro de Ayuda
    {% endif %}
  </h2>
  
  {% if portal.current_language.code == "en" %}
    <img src="https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Phones-EN-EUR-support-2017.png">
  {% elsif portal.current_language.code == "nl" %}
    <img src="https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Phones-NL-support-2017.png">
  {% elsif portal.current_language.code == "fr" %}
    <img src="https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Phones-FR-support-2017.png">
  {% elsif portal.current_language.code == "de" %}
    <img src="https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Phones-DE-support-2017.png">
  {% elsif portal.current_language.code == "it" %}
    <img src="https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Phones-IT-support-2017.png">
  {% elsif portal.current_language.code == "es" %}
    <img src="https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Phones-ES-support-2017.png">
  {% endif %}
  
</div>
<div class="searchbox">
  <div class="page">  
    <!-- Search and page links for the page -->
    
    <section class="help-center rounded-6">
      <div class="hc-search">
        <div class="head-txt">
          <h2>
            {% if portal.current_language.code == "en" %}
            Support Center
            {% elsif portal.current_language.code == "nl" %}
            Support Centrum
            {% elsif portal.current_language.code == "fr" %}
            Centre de Support
            {% elsif portal.current_language.code == "de" %}
            Support-Center
            {% elsif portal.current_language.code == "it" %}
            Centro Assistenza
            {% elsif portal.current_language.code == "es" %}
            Centro de Ayuda
            {% endif %}
          </h2>
        </div>
        <div class="hc-search-c">
          <h2 class="heading hide-in-mobile">Support Center<!--{% translate header.help_center %} !--></h2>
          {% snippet search_form %}
        </div>
      </div>
      
      <!-- <div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">       
{{ portal | helpcenter_navigation }}
</div> !-->
    </section>
    
    
  </div>
</div>

<div class="page">  
  
  <!-- Notification Messages -->
  {{ page_message }}
  
  <div class="c-wrapper">   
    {{ content_for_layout }}
  </div>
  
</div>
<div class="getbux-footer">
  {{ footer }}
</div>