<div class="fullwidth bannerheader">
  <div class="page">
    {{ header }}
  </div>
</div>  
<div id="header-img">
  <!-- <h2>Support Centre</h2> -->
  <h2>
    {% if portal.current_language.code == "en" %}
    Support Center
    {% elsif portal.current_language.code == "nl" %}
    Support Centrum
    {% elsif portal.current_language.code == "fr" %}
    Centre de Support
    {% elsif portal.current_language.code == "de" %}
    Support-Center
    {% elsif portal.current_language.code == "it" %}
    Centro Assistenza
    {% elsif portal.current_language.code == "es" %}
    Centro de Ayuda
    {% endif %}
  </h2>
 
</div>
<div class="searchbox">
  <div class="page">  
    <!-- Search and page links for the page -->
    
    <section class="help-center rounded-6">
      <div class="hc-search">
        <div class="head-txt">
          <h2>
            {% if portal.current_language.code == "en" %}
            BUX X Support Center
            {% elsif portal.current_language.code == "nl" %}
            BUX X Support Centrum
            {% elsif portal.current_language.code == "fr" %}
            BUX X Centre de Support
            {% elsif portal.current_language.code == "de" %}
            BUX X Support-Center
            {% elsif portal.current_language.code == "it" %}
            BUX X Centro Assistenza
            {% elsif portal.current_language.code == "es" %}
            BUX X Centro de Ayuda
            {% endif %}
          </h2>
          <p class="message">
            {% if portal.current_language.code == "en" %}
              <em>Hello,<br>How can we</em> help you?
            {% elsif portal.current_language.code == "nl" %}
              <em>Hallo,<br>Hoe kunnen wij</em> je helpen?
            {% elsif portal.current_language.code == "fr" %}
              <em>Bonjour,<br>Comment peut-on</em> t'aider?
            {% elsif portal.current_language.code == "de" %}
              <em>Hallo,<br>Wie können wir</em> dir weiterhelfen?
            {% elsif portal.current_language.code == "it" %}
              <em>Ciao,<br>come posso</em> aiutarti?
            {% elsif portal.current_language.code == "es" %}
              <em>¡Hola!<br> ¿Cómo podemos</em> ayudarte?
            {% endif %}
          </p>
        </div>
        <div class="hc-search-c">
          <h2 class="heading hide-in-mobile">Support Center<!--{% translate header.help_center %} !--></h2>
          {% snippet search_form %}
        </div>
      </div>
      
      <!-- <div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">       
{{ portal | helpcenter_navigation }}
</div> !-->
    </section>
    
    
  </div>
</div>

<div class="page">  
  
  <!-- Notification Messages -->
  {{ page_message }}
  
  <div class="c-wrapper">   
    {{ content_for_layout }}
  </div>
  
</div>
<div class="getbux-footer">
  {{ footer }}
</div>