/*
@font-face{ 
font-family: 'Capita-Light';
src: url('https://dl.dropbox.com/s/1g09tl7s2cjdkc9/Capita-Light.woff');
}
@font-face{ 
font-family: 'Capita-Medium';
src: url('https://dl.dropbox.com/s/12qsx2njpgeopuz/Capita-Medium.woff');
}
@font-face{ 
font-family: 'Cubano';
src: url('https://dl.dropbox.com/s/gowj8hr1wcyuygb/Cubano-Regular.woff');
}
*/

@font-face{ 
  font-family: 'Capita-Light';
  src: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Capita-Light.woff');
}
@font-face{ 
  font-family: 'Capita-Medium';
  src: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Capita-Medium.woff');
}
@font-face{ 
  font-family: 'Cubano';
  src: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/Cubano-Regular.woff');
}


body {
  font-family: "Capita-Light", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

h1,h2,h3,h4,h5 {
  font-family: "Cubano", Helvetica, Arial, sans-serif;
}


body, .banner
{
  background-color:#fff;
  background-image:none;
}

.banner
{
  color:#555555;
  text-shadow:rgba(0,0,0,0.0) -1px 0px 0px;
  padding:30px 0px;
  border: none;
  background-color: transparent;
}

.banner .banner-title
{
  
  width:31.6988%;
}

.dropdown-menu {
  background-color: #FFDD00;
  border: 0 none;
  min-width: 104px;
  padding-bottom: 8px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pull-right .dropdown-menu {
  left: -22px;
}
.dropdown-menu a {
  color: #000;
}

.dropdown-menu li>a:hover {
  color: #000;
  opacity: 0.40;
  background-color: inherit;
}

.mainmenus
{
  float:left;
  margin-top:10px;
}

.mainmenus a
{
  margin:10px;
  color:#555555;
}

.fullwidth
{
  width: calc(100% - 30px - 30px);
  margin-left: 30px;
  margin-right: 30px;
}

.page
{
  padding-top:0px;
  padding-bottom:0px;
  max-width: calc(100% - 30px - 30px);
  width: calc(100% - 30px - 30px);
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 0;
  padding-right: 0;
}

.bannerheader
{
  border-bottom: none;
  background: #FFDD00;
}

.bannerheader .banner {
  margin-left: 150px;
  margin-right: 150px;
}

.help-center
{
  margin-top:0px;
  background:none;
  border:none;
  /*padding:5em 2em;*/
  padding: 0px;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
}
/*.searchbox
{
  background: url("https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/background-support-2017.png") no-repeat;
  background-position: 100% 90%;
  background-size: 100%;
  height: 350px;
  border: 1px solid #51555D;
}*/

div#header-img {
  /*float: right;
  height: 350px;
  width: 47%;*/
  background: #0b6bd8; /* Old browsers */
  /*background: -moz-linear-gradient(45deg,  #0b6bd8 0%, #54a3ff 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(45deg,  #0b6bd8 0%,#54a3ff 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(45deg,  #0b6bd8 0%,#54a3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b6bd8', endColorstr='#54a3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: calc(100% - 30px - 30px);
  margin-left: 30px;
  margin-right: 30px;
  height: 600px;
  border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  position: relative;
  background-image: url('https://snag.gy/oB80zC.jpg');
  background-repeat: no-repeat;
  background-position-x: 550px;
  background-position-y: 40px;
  /*img {
    /*height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
  }*/
}

.hc-search
{
  width:53%;
  border-right:0px;
  /*top: 60px;*/ /* Here */
  /*right: 0;*/
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  left: 170px;
}

.help-center .hc-search-button {
  width: 30px;
  position: absolute;
  right: 3px;
  top: 0;
  height: 35px;
}

.hc-search-form .hc-search-button .btn {
  background-color: #FFDD00;
  margin: 0px;
  box-shadow: 0 2px 0 #FFDD00;
}

.help-center .hc-search-form
{
  background:none;
  border: 0;
  padding: 0;
  border-radius: 0px;
  position: relative;
}


.help-center .hc-search-form .special
{
  font-size: 14px;
  /*line-height: 50px;
  color: #7C8B98;*/
  padding: 0 15px;
  /*background: #fff;
  width: 370px;*/
  height:50px;
  border: 1px solid #E7E9EF;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  margin: 0;
  box-shadow:none;
  
}

.hc-search-input
{
  /*width:370px !important;*/
  width: 100%;
  font-family: 'Capita-Light';  
}

/*.hc-search-button .btn
{
  background: #3BC559;
  color: #FFF;
  cursor: pointer;
  width: 120px;
  height: 48px;
  padding: 0;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 0 #3AB655;
  -moz-box-shadow: 0 2px 0 #3AB655;
  -webkit-box-shadow: 0 2px 0 #3AB655;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}*/

.hc-nav
{
  width:100%;
}

.btn.btn-primary, .hc-nav a.new-ticket
{
  color: #000 !important;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  background: #FFDD00;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-bottom: 14px;
  display: block;
  font-family: "Cubano", Helvetica, Arial, sans-serif;
}

.btn-primary
{
  padding:10px 20px;
}

input[type="submit"].btn
{
  display:inline-block;
}

.form-actions a.btn
{
  display:inline-block;
  
}

.btn, .hc-nav a.check-status
{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  background: #fff;
  padding: 10px 0;
  width: 198px;
  text-align: center;
  border: 1px solid #D1D6E0;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-bottom: 10px;
  display: none;
}

.content
{
  border:0px;
}

.article-list li, .topic-list li, .ticket-list li, li.article-item, li.topic-item, li.ticket-item, li.note-item
{
  padding-left:0px !important;
  line-height: 25px;
  list-style-type: disc !important;
  list-style-position: inside;
}

.cs-s
{
  border-top:1px solid #fff;
}

.icon-sprite, .icon-add-people, .icon-agent-actions, .icon-agent-edit, .icon-agent-preview, .icon-article-dark, .icon-article-list, .article-list li:before, li.article-item:before, .ticket-list li:before, li.ticket-item:before, li.note-item:before, .icon-article-small, .icon-article-table-row, .icon-article, .icon-best-answer, .icon-book, .icon-calendar, .icon-check-status, .icon-close-ticket, .icon-cog-dark, .icon-cog-drop-dark, .icon-cog-drop-light, .icon-cog-light, .icon-comments, .user-comment .conversation_wrap:after, .icon-dd-tick-dark, .dropdown-menu .active>a:before, .dropdown-menu .active>a:hover:before, .icon-dd-tick-light, .icon-delete-post, .icon-dropbox-small, .icon-dual-arrow, .see-more:before, .icon-edit-post, .icon-fb-book, .icon-fb-forum, .icon-fb-tickets, .icon-forum-a, .badge-announcement:after, .icon-forum-i, .badge-ideas:after, .icon-forum-p, .badge-problems:after, .icon-forum-q, .badge-questions:after, .icon-like-arrow-right, .icon-mark-answer, .icon-nav-contact-dark, .icon-nav-contact, .icon-nav-menu-dark, .icon-nav-menu, .icon-nav-newticket-dark, .icon-nav-newticket, .icon-nav-status-dark, .icon-nav-status, .icon-new-ticket, .icon-page-announcement, .icon-page-article, .icon-page-ideas, .icon-page-problems, .icon-page-questions, .icon-phone, .icon-print, .icon-quote, .icon-reply, .icon-search-dark, .icon-search, .icon-sign-in-facebook, .btn-facebook:before, .icon-sign-in-google, .btn-google:before, .icon-sign-in-twitter, .btn-twitter:before, .icon-smiley-happy-small, .icon-smiley-happy, .icon-smiley-neutral-small, .icon-smiley-neutral, .icon-smiley-unhappy-small, .icon-smiley-unhappy, .icon-sticky-small, .icon-sticky, .icon-topic-list, .topic-list li:before, li.topic-item:before, .icon-unmark-answer, .page-tabs .mobile-icon-nav-menu:before, .mobile-icon-search:before, .mobile-icon-nav-contact:before, .mobile-icon-nav-newticket:before, .mobile-icon-nav-status:before
{
  background:none !important;
  display:none;
}

.cs-g.article-list
{
  padding:20px;
  /*border:1px solid #E7E9EF;
  border-radius:8px;*/
}

.simplecontacts p
{
  margin: 0 0 5px;
  font-size: 14px;
  color: #A0AFBC;
  line-height: 1.75;
}

/*.sidebar
{
  width:23%;
  padding: 20px 0px; /* added by me*/
/*}*/

.sidebar.simplecontacts .hc-nav {
  margin: 0;
}

.main
{
  /*width:75%;*/
  width: 100%;
  padding: 0;
}

.cs-g:nth-child(even)
{
  width:48.14815%;
}

.cs-g
{
  width:45.14815%;  
}

.cs-g.article-list
{
  /*padding:20px 10px 40px 30px;*/
  padding:20px 20px 40px 20px;
}

section.cs-g.topic-list {
  padding: 20px 10px 40px 30px;
  border: 1px solid #E7E9EF;
  border-radius: 8px;
}

.sidebar .cs-s {
  /*width: 300px;*/
  width: 100%;
  margin-right: 0px;
}

.hc-nav {
  width: 100%;
  /*position: relative;
  left: 20px;
  top: 23px;*/
  margin: 40px 0 0 0px;
  padding: 0 2em 0 2em;
  overflow: hidden;
  box-sizing: border-box;
}

nav a.new-ticket {
  margin-bottom: 0px;
}

.hc-nav p {
  /* float: right;
  margin: 22px 0px 0px 0px;
  display: none;*/
  float: left;
  margin: 10px 10px 10px 25px;
}

.list-lead li a
{
  /* font-family:arial; */
  font-size:18px !important;
}

#header-tabs a:nth-child(3)
{
  display:none;
}

.form-portal .controls
{
  margin-left:0px;
  margin-top:30px;
}

.form-portal .form-actions
{
  padding-left:0px;
}

.form-portal input[type="text"]
{
  font-size: 14px;
  line-height: 50px;
  color: #7C8B98;
  padding: 0 15px;
  background: #fff;
  width: 780px;
  border: 1px solid #E7E9EF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 15px;
  box-shadow:none;
}

.sidebar .check-status
{
  margin-top:10px;
}

.article-body, .article-body p, .article-body li {
  font-size: 16px !important;
  line-height: 1.5;
  color: #7C8B98;
}

.breadcrumb a, .breadcrumb a:hover {
  color: #FFDD00;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb a:before, .breadcrumb span:before {
  content: "❯";
  font-size: 10px;
  top: -1px;
}

.breadcrumb a:first-child:before {
  content: none;
}

/*.hc-search {
  h2.heading {
    display: none;
    font-size: 36px;
    color: #596671;
    font-weight: normal;
    margin: 16px 0;
  }
}

.hc-search .btn-primary {
  width: 120px;
  font-size: 16px;
  border-radius:0 4px 4px 0;
  -moz-border-radius:0 4px 4px 0;
  -webkit-border-radius:0 4px 4px 0;
}*/

.hc-search-c .heading.hide-in-mobile {
  display: none;
}

.page-stamp-article {
  display: none;
}

.ellipsis.heading {
  display: none;
}

.cs-s {
  /*float: left;*/
  width: 354px;
  margin-right: 40px;
}

.cs-s:nth-child(even) {
  margin-right: 0;
}

.cs-g {
  margin: 0;
  width: 100%;
}

.mainmenus, .banner-nav {
  display: none !important;
}

.banner {
  padding: 20px 0;
}

.check-status{
  display:none;
}

p.note {
  background-color: rgba(109, 188, 88, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.article-body table td, .article-body table th {
  font-size: inherit;
}

/* Underneath is Firefox list fix/workaround, but it breaks text-overflow: ellipsis */
/* so will use white-space: normal on .ellipsis instead */

.article-list ul > li :first-child {
  display: inline;
}
.article-list ul > li :first-child:after {
  content: "";
  display: block;
  margin-bottom: 1em;
}
.article-list li {
  color: #000;
  padding-bottom: 0px;
  padding-top: 8px;
  list-style-type: none !important;
  transition: all 0.5s;
  margin-bottom: 8px;
}
.article-list a {
  color: #000;
  text-decoration: none;
  transition: ease 0.3s;
}
.article-list a:hover {
  color: #999;
}
.article-list li + li {
  border-top: 2px solid #000;
}
.article-list a.see-more {
  color: #999;
}
.article-list a.see-more:hover {
  color: #000;
}
/*.article-list li:after {
  content: '→';
  font-size: 25px;
  position: absolute;
  opacity: 0;
  top: 2px;
  right: 300px;
  transition: ease 0.3s;
}
.article-list li:hover:after {
  opacity: 1;
  right: 10px;
}*/
li .ellipsis {
  white-space: normal;
  font-family: 'Capita-Light';
  font-size: 20px;
}

/* recent changes */
.sidebar .cs-s .heading {
  display: none;
}

.badge-questions:before{
  display: none;
}

.sidebar .topic-list .help-text {
  display: none;
}

.list-lead.badge-questions{
  margin-left: 0px;
}

.list-lead {
  font-size: 14px;
  font-weight: 400;
  /*color: #cdcccc;*/
}

.list-lead a {
  color: #000;
}

.list-lead a:hover {
  color: #999;
}

.list-lead .item-count {
  background-color: #FFDD00;
  color: #000;
  font-size: 12px;
  font-weight: 800;
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.item-count:before {
  content: '';
}

.item-count:after {
  content: '';
}

.hc-nav a.new-ticket {
  font-size: 13px;
}

/* Recent changes */

.main, .sidebar {
  min-height: auto !important;
}

.bux-footer{
  background-color: #3C3C3C;
  color: #9D9D9D;
}

.bux-footer p {
  padding: 35px 10px;
  display: inline-flex;
  width: 49%;
  font-size: 14px;
  font-family: "Capita-Light", serif;
  line-height: 20px;
  word-spacing: 3px;
}

div#bux-multilang {
  margin-top: 8px;
}
/*New changes*/

.head-txt h2 {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.head-txt .message {
  font-family: "Capita-Light", serif;
  font-size: 70px;
  margin-bottom: 30px;
  color: white;
  line-height: 74px;
}

.head-txt .message em {
  display: block;
  font-style: normal;
  font-family: "Cubano", Helvetica, Arial, sans-serif;
}

div#bux-copy {
  background-color: #242424;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
}

.copy {
  margin-left: 70px;
}

.list {
  float: right;
  margin-right: 10px;
  ul{
    margin: 0;
    li{
      display: inline-block;
      a {
        color: white;
        padding: 0px 3px;
      }
    }
    li a:after {
      content: '/';
      position: relative;
      left: 5px;
    }
    li:last-child a:after {
      content: '';
    }
  }  
}

.social-links {
  float: right;
  margin-right: 30px;
  ul {
    margin: 0;
    height: 50px;
    li {
      list-style-type: none;
      display: inline-block;
      height: 50px;
      width: 30px;
      margin: 0px 6px;
    }
    li.fb {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -8px;
    }
    li.tw {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -51px;
    }
    li.gp {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -93px;
    }
    li.yt {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -137px;
    }
    li.vm {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -181px;
    }
    li.ln {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -223px;
    }
    li.pi {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -267px;
    }
    li.ins {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -310px;
    }
    li.ap {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -353px;
    }
    li.an {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -396px;
    }
    li.mail {
      background: url('https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2zidhc3.png');
      background-position: -439px;
    }
  }
}

#header-img h2 {
  display: none;
}

#toTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: rgba(0,0,0,0.3);
    background-image: url(https://dl.dropbox.com/s/sqc9dkmaj8qind3/top.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    z-index: 500;
    border-radius: 3px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    background-size: 20px;
}

#toTop.show {
  opacity: 1;
}

#toTop:hover {
  background-color: #292323;
}

/* Recent changes for contact number made on 27Nov */
.hc-nav nav {
  float: left;
}
/*
.bux-phone {
  float: right;
  margin-right: 140px;
  margin-top: 10px;
}

a.bux-phone-link:hover{
  text-decoration: none;
}

.bux-phone-link:before {
  background-image: url(https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/dynamic-icon-s85b95186ce.png);
  background-repeat: no-repeat;
  content: "";
  background-position: 0 -153px;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: text-top;
}

a.mobile-icon-nav-newticket.new-ticket.ellipsis {
  border: 1px solid #999;
}
*/
.article-list ul>li :first-child:after {
  margin-bottom: 0px;
}

/* ! Layout for mobile version, September 2015 */

@media (max-width: 45em) {
  .page .banner .banner-wrapper {
    height: inherit;
    display: block;
  }
  .pull-right select {
    width: 100px;
    margin-right: 15px;
    margin-top: 10px;
  }
  .banner {
    display: block;
    width: auto;
  }
  .hc-nav {
    float: none;
  }
  .hc-nav nav span {
    display: inline-block;
  }
  .portal-logo {
    float: left;
  }
  .help-center {
    top: 120px;
  }
  .help-center .hc-search {
    width: 80%;
  }
  /*.searchbox {
    height: 50px;
    margin-top: 20px;
  }
  .searchbox .page .help-center {
    top: inherit;
    padding: inherit;
    height: inherit;
    width: 100%;
  }*/
  .c-wrapper .main {
    width: auto;
  }
  .c-wrapper .main .cs-s {
    width: 100%;
    margin-right: 0;
  }
  /*.page .help-center .hc-search {
    margin: 0;
    width: inherit;
    padding: 0 1em;
  }
  .help-center .hc-search-c, .hc-search-form .hc-search-input {
    width: 100%!important;
    padding: 0;
  }*/
  .hc-search-form .hc-search-input .special.ui-autocomplete-input  {
    width: inherit;
  }
  /*.help-center .hc-search-button {
    right: 10px;
  }
  .help-center .hc-search-button .btn-primary {
    width: 25px;
    margin-top: 14px;
  }*/
  .cs-g.article-list {
    padding: 20px; 
  }
  /*
  .sidebar.simplecontacts {
    width: 100%;
    padding: 5px 35px;
  }
  .sidebar.simplecontacts .hc-nav {
    float: none;
    margin: 0 auto;
  }
  .sidebar {
    width: 100%;
  }
  .hc-nav, .hc-nav a.new-ticket {
    width: 100%;
  }
  .hc-nav nav a span {
    display: block;
  }*/
  li.note-item {
    line-height: 23px;
  }
  .form-portal .controls {
    margin-top: inherit;
  }
  .form-portal .control-group {
    margin-bottom: inherit;
  }
  .form-actions .btn, .control-group .controls select {
    width: 100%;
  }
  .c-wrapper {
    word-wrap: break-word;
  }
}

@media (max-width:720px){
  .searchbox .hc-search .head-txt .message {
    font-size: 50px;
    line-height: 54px;
  }
  div#header-img {
    height: 400px;
  }
  /*.searchbox {
    background: none;
  }
  
  .banner .banner-title {
    float: left;
  }
  
  .help-center .hc-search {
    position: static;
  }*/
  
  .main, .sidebar{
    float: right;
    /*witdh: 100%;
    padding: 0;*/
  }
  
  .c-wrapper .main .cs-s{
    float: right;
  }
  
  .c-wrapper .main{
    padding-top: 0px;
    width: 100%;
  }
  
  .bux-footer p {
    width: 100%;
    display: block;
    padding: 30px 30px 5px 30px;
    margin: 0;
  }
  
  .hc-search-form .hc-search-button .btn {
    background-color: transparent;
    box-shadow: none;
  }
  
  .hc-search-form .hc-search-input .special.ui-autocomplete-input {
    border-radius: 4px;
  }
  
  section.cs-g.topic-list {
    padding: 20px;
  }
  
  .sidebar .cs-s {
    width: 100%;
    /* margin: 15px; */
  }
  
  .sidebar {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    .cs-s {
      margin: 0px auto;
      width: 100%;
    }
  }
  
  /*.hc-nav {
    width: 90%;
    padding: 0px;
    position: static;
    margin-top: 23px;
    margin-left: 5%;
    margin-right: 5%;
  }*/
  
  .hc-nav nav a {
    border: 0;
    box-shadow: none;
  }
  
  /* New Changes */
  .bux-footer div.page:nth-child(1) {
    margin-bottom: 25px;
  }
  
  /*div#header-img {
    display: block;
    float: none;
    width: 100%;
    background: url("https://s3.eu-central-1.amazonaws.com/bux-supportsite-content/2nbv910.jpg") no-repeat;
    height: auto;
    img {
      height: auto;
    }
  }
  
  .head-txt h2 {
    display: none;
  }
  
  #header-img h2 {
    display: block;
    color: white;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
  }*/
  
  div#bux-copy {
    padding-top: 10px;
    .social-links {
      float: none;
      width: 100%;
      text-align: center;
      ul{
        height: auto;
        margin: 0 100px;
        li {
          height: 30px;
        }
      }
    }
    div.list {
      float: none;
      margin: 0;
      text-align: center;
    }
    div.copy {
      margin: 0;
      text-align: center;
    }
  }
  
  /* New changes for contact made on 27Nov*/
  /*.hc-nav nav {
    float: none;
  }
  .bux-phone{
    margin-top: 0;
    float: none;
    margin-right: 0;
    text-align: center;
  }*/
}

/* lakshmanan test changes
@media (max-width:720px){
.fullwidth.bannerheader {
display: none;
}

.searchbox {
min-height: 200px;
background-position: 0 0;
}

.help-center {
padding: 10px;
height: auto;
position: static;
width: 100%;
}

.help-center .hc-search {
position: static;
width: 100%;
}

.help-center .hc-search .hc-search-button {
position: static;
width: 28%;
height: 50px;
}

.help-center .hc-search .hc-search-input{
width: 50% !important;
}
}
*/

/* Recent changes for specific article structure */
.cs-s {
  width: 100%;
  margin-top: 0px;
}

section.cs-g.article-list {
  float: left;
  width: 48%;
  min-height: 335px;
  margin: 5px;
}

a.mobile-icon-nav-contact.contact-info.ellipsis {
  display: none;
}

section.cs-g.topic-list {
  width: 100%;
  margin: 0px 0px 20px 0px;
}


@media(max-width: 45em){
  section.cs-g.article-list {
    width: 100%;
    min-height: 265px;
  }
  
  .searchbox {
    border: 0;
  }
}

/* site customizations */
[for="helpdesk_ticket_email"] {
  width: 300px!important;
}

.language-options {
  list-style: none;
  cursor: pointer;
}

.language-options .dropdown .dropdown-toggle {
  color: #000;
  font-size: 16px;
  font-family: "Capita-Light", Helvetica, Arial, sans-serif;
}

.language-options .dropdown .dropdown-toggle .caret {
  border-top-color: #000;
  margin-top: 9px;
}


.fullwidth.bannerheader .page {
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.help-center .hc-search-button .btn-primary {
  background: url(https://assets4.freshdesk.com/assets/cdn-ignored/sprites/portal/dynamic-icon-s85b95186ce.png) 0 -329px no-repeat;
  height: 20px;
  border: 0;
  /*margin: 7px 0;*/
  margin: 15px 0;
  box-shadow: none;
  width: 100%;
}


/*.hc-search-input input.special {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}*/


.hc-search-form .hc-search-button .hide-in-mobile {
  display: none;
}

.c-wrapper {
  padding: 0 150px;
}

@media (max-width: 60em) {
  .bannerheader .banner {
    margin-left: 50px;
    margin-right: 50px;
  }
  div#header-img {
    background-position-x: 350px;
    background-position-y: 150px;
  }
  .hc-search {
    left: 70px;
  }
  /*.c-wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }*/
  /*.main.content {
    width: 100%;
    padding: 0;
  }*/
  .c-wrapper {
    padding: 0 50px;
  }
  .main {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}

@media (max-width:720px){
  div#header-img {
    background-position-x: 200px;
    background-position-y: 100px;
  }
}

ul.ui-autocomplete {
  border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
}
.ui-autocomplete li {
  padding-left: 35px !important;
  list-style-type: none !important;
}
.ui-autocomplete li a {
  color: #999;
}
/*
@media (min-width: 1380px) {
  .fullwidth {
    width: 1380px;
    margin: 0 auto;
  }
  div#header-img {
    width: 1380px;
    margin: 0 auto;
  }
  body > .page {
    max-width: 1380px;
    width: 1380px;
    margin: 0 auto;
  }

  .hc-search
  {
    width:53%;
    border-right:0px;
    /*top: 60px;*/ /* Here */
    /*right: 0;*/
    /*position: absolute;
    margin-left: 0;
    margin-top: 0;
    left: 170px;
  }
}
*/
